@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Info";
    ViewBag.Message = "Check your email and confirm your account, you must be confirmed "
                         + "before you can log in.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
